# CLAAUDIA environment
*environement.sif

# python
/__pycache__/
*.pyc

# ide
/.idea/

# os
.DS_Store

# project
/data/
/checkpoints/
/.ipynb_checkpoints/
*.ipynb
main.log*
venv
.vscode/
trainers/NFC_plain.py
